body {
  background-color: antiquewhite;
}
.cell{
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}
#parent-container{
  font-family: "Permanent Marker", cursive;
  text-align: center;
}
#cell-container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}
#restart-btn{
 border: none;
 padding-left: 15px;
 padding-top: 5px;
 padding-right: 15px;
 padding-bottom: 5px;
 border-radius: 9px;
 background-color: aquamarine;
 cursor: pointer;
 font-family: cursive;
}
#restart-btn:hover{
  background-color: rgb(100, 238, 192);
}
#restart-btn:active{
  background-color: rgb(150, 235, 207);
}